// File: .gitignore
out
node_modules
.vscode-test/
*.vsix
**.history**
.history**
.history
**${file}_[\d]+**
**RecLibs**
RecLibs**
RecLibs
# coolmultigui-data-manager-updated.ahk
# coolmultigui-instance-updated.ahk
(moved to Gui.ahk)_GuiReSizer.ahk.bak
.String.ahk.swp
cSend.ahk.bak
# Info.ahk
Sort.ahk
